In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('./data/Expanded_data_with_more_features.csv')

df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

# Аналіз набору даних за допомогою Pandas, NumPy, візуалізації даних за допомогою Matplotlib у блокноті Jupyter.

## Завдання 1 (15 балів)
Students Exam Scores: Extended Dataset | Kaggle

https://www.kaggle.com/datasets/desalegngeb/students-exam-scores

### Проаналізуйте розподіл за статтю серед учнів.
1. Скільки студентів і студенток у наборі даних?

In [2]:
students_cnt = len(df)
students_cnt

30641

2. Який відсоток студентів чоловічої статі в наборі даних?

In [3]:
male_perc = len(df[df['Gender'] == 'male']) / students_cnt * 100
male_perc

49.6622172905584

3. Який відсоток студенток у наборі даних?

In [4]:
female_perc = len(df[df['Gender'] == 'female']) / students_cnt * 100
female_perc

50.337782709441605

### Дослідіть зв’язок між етнічною групою та результатами тестів.
4. Яка етнічна група має найвищий середній бал з математики?

In [5]:
df.groupby('EthnicGroup')['MathScore'].mean().idxmax()

'group E'

5. Яка етнічна група має найвищий середній бал читання

In [6]:
df.groupby('EthnicGroup')['ReadingScore'].mean().idxmax()

'group E'

6. Яка етнічна група має найвищий середній бал з письма?

In [7]:
df.groupby('EthnicGroup')['WritingScore'].mean().idxmax()

'group E'

### Дослідіть вплив курсу підготовки до тесту на результати тесту.
7. Який середній бал з математики для студентів, які закінчили курс підготовки до тесту?

In [8]:
df.groupby('TestPrep')['MathScore'].mean()['completed']

69.5466599698644

8. Який середній бал з читання для студентів, які пройшли курс підготовки до тесту?

In [9]:
df.groupby('TestPrep')['MathScore'].mean()['completed']

69.5466599698644

9. Який середній бал для студентів, які закінчили курс підготовки до тесту?

In [10]:
df.groupby('TestPrep').agg({'MathScore': 'mean', 'ReadingScore': 'mean', 'WritingScore': 'mean'}).loc['completed'].mean()

72.66097438473129

### Проаналізуйте розподіл батьків(ів) за сімейним станом серед учнів.
10. Скільки студентів мають одружених батьків?

In [11]:
len(df[df['ParentMaritalStatus'] == 'married'])

16844

11. Скільки студентів мають батьків-одинаків?

In [12]:
len(df[df['ParentMaritalStatus'] == 'single'])

7097

### Дослідіть зв’язок між заняттями спортом і результатами тестів.
12. Чи студенти, які регулярно займаються спортом, мають вищі середні результати з математики, ніж ті','хто ніколи не займається спортом?

In [13]:
math_sport = df.groupby('PracticeSport')['MathScore'].mean()

math_sport['never'] < math_sport['sometimes'] < math_sport['regularly']

True

13. Чи студенти','які регулярно займаються спортом','мають вищі середні результати читання','ніж ті, хто ніколи не займається спортом?

In [14]:
reading_sport = df.groupby('PracticeSport')['MathScore'].mean()

reading_sport['never'] < reading_sport['sometimes'] < reading_sport['regularly']

True

### Проаналізуйте розподіл транспортних засобів до школи серед учнів.
14. Скільки учнів користується шкільним автобусом, щоб дістатися до школи?

In [15]:
len(df[df['TransportMeans'] == 'school_bus'])

16145

15. Скільки учнів користується приватним транспортом, щоб дістатися до школи?

In [16]:
len(df[df['TransportMeans'] == 'private'])

11362

## Задача 2: класифікація (5 балів)
Передбачте, чи завершив студент курс підготовки до іспиту, на основі його демографічних та академічних даних.
Вхідні дані:

Gender, EthnicGroup, ParentEduc, LunchType, ParentMaritalStatus, PracticeSport, IsFirstChild, NrSiblings, TransportMeans, WklyStudyHours, MathScore, ReadingScore, WritingScore
   Результат: TestPrep

### Розбиваємо дані на дані для тестові та дані тренування

In [17]:
# Prepare the data
selected = df[[
    'Gender','EthnicGroup','ParentEduc','LunchType','ParentMaritalStatus',
    'PracticeSport','IsFirstChild','NrSiblings','TransportMeans','WklyStudyHours',
    'MathScore','ReadingScore','WritingScore', 'TestPrep'
]].dropna()

test_data = selected.sample(frac=0.2, random_state=0)
train_data = selected.drop(test_data.index)

### Розбиваємо на вхідні та вихідні дані

In [18]:
def prepare_xy(df):
    return (pd.get_dummies(df.drop('TestPrep', axis=1)).to_numpy(), 
            df['TestPrep'].apply(lambda x: 1 if x == 'completed' else 0).to_numpy())


x_train, y_train = prepare_xy(train_data)
x_test, y_test = prepare_xy(test_data)

### Створюємо модель

In [19]:
import tensorflow as tf

columns_count = x_train.shape[1]

model = tf.keras.models.Sequential([
    tf.keras.layers.Input(shape=(columns_count,)),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

### Тренуємо модель

In [20]:
model.fit(x_train, y_train, epochs=15)

Epoch 1/15

2023-05-05 11:48:28.207997: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

482/482 [==============================] - 0s 443us/step - loss: 0.6540 - accuracy: 0.6546
Epoch 2/15
482/482 [==============================] - 0s 377us/step - loss: 0.5607 - accuracy: 0.7112
Epoch 3/15
482/482 [==============================] - 0s 411us/step - loss: 0.5366 - accuracy: 0.7346
Epoch 4/15
482/482 [==============================] - 0s 410us/step - loss: 0.5277 - accuracy: 0.7353
Epoch 5/15
482/482 [==============================] - 0s 411us/step - loss: 0.5213 - accuracy: 0.7366
Epoch 6/15
482/482 [==============================] - 0s 400us/step - loss: 0.5188 - accuracy: 0.7428
Epoch 7/15
482/482 [==============================] - 0s 393us/step - loss: 0.5191 - accuracy: 0.7414
Epoch 8/15
482/482 [==============================] - 0s 402us/step - loss: 0.5233 - accuracy: 0.7400
Epoch 9/15
482/482 [==============================] - 0s 398us/step - loss: 0.5245 - accuracy: 0.7381
Epoch 10/15
482/482 [==============================] - 0s 396us/step - loss: 0.5212 - accuracy: 0.7411
Epoch 11/15
482/482 [==============================] - 0s 386us/step - loss: 0.5180 - accuracy: 0.7423
Epoch 12/15
482/482 [==============================] - 0s 398us/step - loss: 0.5209 - accuracy: 0.7446
Epoch 13/15
482/482 [==============================] - 0s 402us/step - loss: 0.5214 - accuracy: 0.7394
Epoch 14/15
482/482 [==============================] - 0s 395us/step - loss: 0.5147 - accuracy: 0.7474
Epoch 15/15
482/482 [==============================] - 0s 385us/step - loss: 0.5157 - accuracy: 0.7435

### Перевіряємо точність моделі

In [21]:
train_loss, train_accuracy = model.evaluate(x_train, y_train)
test_loss, test_accuracy = model.evaluate(x_test, y_test)

print ("Train dataset:")
print ("\tloss:", train_loss)
print("\taccuracy:", train_accuracy)

print ("\nTest dataset:")
print ("\tloss:", test_loss)
print("\taccuracy:", test_accuracy)

482/482 [==============================] - 0s 348us/step - loss: 0.5080 - accuracy: 0.7500
121/121 [==============================] - 0s 343us/step - loss: 0.5145 - accuracy: 0.7472
Train dataset:
	loss: 0.5079910159111023
	accuracy: 0.7500324845314026

Test dataset:
	loss: 0.5144537091255188
	accuracy: 0.7472070455551147